<h1>Danh sách từ khoá</h1>
<h3>Category: <%= link_to "#{@category.title}", edit_admin_category_path(@category) %></h3>

<%= link_to "Tạo câu mẫu", new_admin_category_sentence_path(@category), class: "btn btn-primary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Content</th>
      <th>Meaning</th>
      <th>Description</th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    <%= render @sentences %>
  </tbody>
</table>
<%= will_paginate @sentences %>
