<tr>
  <td><%= question.id %></td>
  <td><%= question.content %></td>
  <td>
    <%= link_to "Edit", edit_admin_category_question_path(question.category, question), class: "btn btn-success" %>
    <%= link_to "Delete", admin_category_question_path(question.category, question), method: :delete,
      data: {confirm: "Bạn chắc chắn muốn xoá câu hỏi này?"},
      class: "btn btn-danger" %>
  </td>
</tr>
