<h1>Chỉnh sửa chủ đề</h1>

<%= link_to "Danh sách từ khoá", admin_category_words_path(@category), class: "btn btn-success" %>
<%= link_to "Danh sách câu mẫu", admin_category_sentences_path(@category), class: "btn btn-success" %>
<br>
<br>
<%= render "form", category: @category %>

