.image-review {
  img {
    width: 100px;
  }
}

.white-back {
  background: #ffffff
}

.wrapper {
  padding-top: 70px;
}

label {
  color: #00bfff;
}

a {
  text-decoration: none !important;
}

span.change-language:hover {
  cursor: pointer;
  background: #5cb85c !important;
}
